.instalacoes-flex {
  display: grid;
  padding: 20px 20px;

}

.instalacoes-flex h1 {
  margin-bottom: 32px;
  word-break: break-all;
}

.instalacoes-flex h2 {
  margin-bottom: 20px;
  margin-left: 20px;
}

.instalacoes-flex img {
  width: 100%;
  margin-bottom: 20px;
}

.instalacoes-flex .btn-default {
  
  width: 20%;
  display: flex;
  justify-content: center;
}

@media(max-width:500px){
  .instalacoes-flex .btn-default {
  
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .instalacoes-flex h1 {
    margin-bottom: 20px;
    word-break: break-all;
  }
  
}