.btn-border{
  border: 1px solid #000;
  padding: .2vw 2vw;
  color: #000;
}
.btn-border2{
  font-family: Cabin;
  border-radius: 2px;
  border: 1px solid #000;
  color: #000;
  padding: 1rem 4vw;

  cursor: pointer;
  position: relative;
}
.btn-default{
  font-family: Cabin;
  background:linear-gradient(#FF8A00, #FF9900) ;
  padding: 1rem 4vw;
  color: #492F04;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
}
.azul {
  color:#0066FF;
}


@media (max-width:1200px){

  .btn-default{
    padding: 1rem 5vw;

  }
  .btn-border2{
    padding: 1rem 5vw;

  }
  .btn-border{
    border: 1px solid #fff;
    padding: .2vw .5vw;
    color: #fff;
  }
}
@media(max-width:1000px){
  .btn-border{
    display: none;
    border: 1px solid #fff;
    padding: .2vw .2vw;
    color: #fff;
    font-size: .5rem;
  }
}
@media(max-width:400px){
  
  .btn-default{
    padding: 1rem 6vw;

  }
  .btn-border2{
    padding: 1rem 6vw;

  }
}
@media(max-width:400px){
  .btn-default{
    padding: 1rem 8vw;
    font-size: .7rem;

  }
  .btn-border2{
    padding: 1rem 8vw;
    font-size: .7rem;
  }
  @media(max-width:320px){
    .btn-default{
      padding: 1rem 8vw;
      font-size: .7rem;
  
    }
    .btn-border2{
      padding: 1rem 8vw;
      font-size: .7rem;
    }
  }
}